@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import url('variables.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.menu-navegacion{
    
    background-color: var(--colorFondo);
    height: var(--tamañoAltoMenu);
    width: 1500px;
    margin: 0 auto;
    margin-top: 200px;
    border-radius: 25px;
    
}

.menu-navegacion__listas{
    padding-top: 40px ;
    display: flex;
    
    justify-content: space-around;
    list-style: none;
    cursor: pointer;
    
}



.menu-navegacion__links{
    font-family: "SUSE", sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: var(--colorBlanco);
}

.menu-navegacion__links:hover{
    color: var(--colorNaranja);
}



.cabecera{
    text-align: center;
    padding-top: 60px ;
}


.cabecera__titulo , .cabecera__autor , .cabecera__ficha{
    font-family: "Roboto Condensed", sans-serif;
}